services:
  db:
    image: postgres:15
    container_name: task_manager_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tasks
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  server:
    container_name: task_manager_server
    build: ./server
    ports:
      - "4000:4000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user:password@db:5432/tasks

  client:
    container_name: task_manager_client
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server

volumes:
  db_data:
